*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: rgb(31, 31, 31);
  color: rgb(210, 210, 210);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.chat-bot{
  display: flex;
}
.left-cont{
  flex: 3;
  padding: 2.2rem;
  border-right: 1px solid rgb(93, 92, 92);
}
.logo-upper{
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.logo-upper span{
  font-size: 30px;
}
.right-cont{
  flex: 9;
  /* background-color: rebeccapurple; */
}
.upper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.upper img{
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-right: 1rem;
}