*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: rgb(31, 31, 31);
  color: rgb(210, 210, 210);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.chat-bot{
  display: flex;
}
.left-cont{
  flex: 3;
  padding: 2.2rem;
  border-right: 1px solid rgb(93, 92, 92);
}
.logo-upper{
  display: flex;

  align-items: center;
}
.logo-upper span{
  font-size: 30px;
}
.right-cont{
  flex: 9;
}
.upper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upper img{
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-right: 1rem;
}
.newChat{
  background-color: rgb(91, 88, 88);
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.newChat p{
  font-size: 20px;
  padding: 0.4rem;
  color: aliceblue;
}
.dummy-msg {
  /* border: 1px solid rebeccapurple; */
  width: 100%;
}
.dummy-msg p{
  border: 1px solid rgb(86, 84, 84);
  text-align: center;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  
}
.dummy-msg p:active {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}
