*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: rgb(31, 31, 31);
  color: rgb(210, 210, 210);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.chat-bot{
  display: flex;
}
.left-cont{
  position: relative;
  height: 100vh;
  flex: 3;
  
  border-right: 1px solid rgb(93, 92, 92);
}
.left-cont .pad{
  padding: 1.8rem;
}
.logo-upper{
  display: flex;

  align-items: center;
}
.logo-upper span{
  font-size: 30px;
}
.right-cont{
  flex: 9;
}
.upper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upper img{
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-right: 1rem;
}
.newChat{
  background-color: rgb(91, 88, 88);
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.newChat p{
  font-size: 20px;
  padding: 0.4rem;
  color: aliceblue;
}
.dummy-msg {
  /* border: 1px solid rebeccapurple; */
  width: 100%;
  cursor: pointer;
}
.dummy-msg p{
  border: 1px solid rgb(86, 84, 84);
  text-align: center;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  
}
.dummy-msg p:active {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}
.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  /* right: 0; */
  width: 100%;
}
.footer .user{
  background-color: rgb(35, 35, 40);
  width: 100%;
  padding: 0.5rem;
  font-size: 20px;
  color: rgb(221, 219, 219);
  border-top: 1px solid rgb(86, 84, 84);
}
.user p{
  display: flex;
  justify-content: space-between;

}
.right-cont{
  position: relative;
}
.send-msg {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-msg input {
  width: 45rem;
  height: 3rem;
  margin-right: 0.5rem;
  background-color: rgba(67, 66, 66, 0.183);
  outline: none;
  /* outline-color: rgb(202, 32, 32); */
  border: 1px solid gray;
  border-radius: 4px;
  color: rgb(218, 216, 216);
  padding: 20px 10px;
  font-size: 20px;
}
.send-msg input:focus{
  border: 1px solid rgb(185, 181, 181);
}
.send-msg .send:active{
  background-color: rgb(98, 97, 97);
  transform: ease 2s;
}
.send-msg .send {
  transition: background-color 0.2s ease, transform 0.1s ease;
}
.send-msg .send{
  display: inline-block;
  background-color: rgb(84, 83, 83);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.send-msg .send i{
  font-size: 23px;
}
